[Desktop Entry]
Name=Meganimus
Exec=meganimus
Icon=io.github.kyuyrii.meganimus
StartupWMClass=io.github.kyuyrii.meganimus
Categories=Game;Utility;
Keywords=gaming;shortcut;
Type=Application
StartupNotify=true
Terminal=false
Comment=A shortcut creator for games
Comment[pt_BR]=Um criador de atalhos para jogos
Comment[es_ES]=Un creador de atajos para juegos
