[Desktop Entry]
Name=Meganimus
Exec=meganimus
Icon=applications-all
StartupWMClass=meganimus
Comment=A launcher for native and emulator games
Categories=Game;
Keywords=gaming;emulator;portal;
Terminal=false
Type=Application
